<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>itemName</key>
		<string>Label</string>
		<key>controllerName</key>
		<string>labelInterfaceController</string>
	</dict>
	<dict>
		<key>itemName</key>
		<string>Date</string>
		<key>controllerName</key>
		<string>dateInterfaceController</string>
	</dict>
	<dict>
		<key>itemName</key>
		<string>Timer</string>
		<key>controllerName</key>
		<string>timerInterfaceController</string>
	</dict>
	<dict>
		<key>itemName</key>
		<string>Button</string>
		<key>controllerName</key>
		<string>buttonInterfaceController</string>
	</dict>
	<dict>
		<key>itemName</key>
		<string>Pay Button</string>
		<key>controllerName</key>
		<string>payButtonInterfaceController</string>
	</dict>
	<dict>
		<key>itemName</key>
		<string>Switch</string>
		<key>controllerName</key>
		<string>switchInterfaceController</string>
	</dict>
	<dict>
		<key>itemName</key>
		<string>Slider</string>
		<key>controllerName</key>
		<string>sliderInterfaceController</string>
	</dict>
	<dict>
		<key>itemName</key>
		<string>List Style Picker</string>
		<key>controllerName</key>
		<string>pickerInterfaceController</string>
	</dict>
	<dict>
		<key>itemName</key>
		<string>Stack Style Picker</string>
		<key>controllerName</key>
		<string>stackPickerInterfaceController</string>
	</dict>
	<dict>
		<key>itemName</key>
		<string>Sequence Style Picker</string>
		<key>controllerName</key>
		<string>sequencePickerInterfaceController</string>
	</dict>
	<dict>
		<key>itemName</key>
		<string>Group</string>
		<key>controllerName</key>
		<string>groupInterfaceController</string>
	</dict>
	<dict>
		<key>itemName</key>
		<string>Separator</string>
		<key>controllerName</key>
		<string>separatorInterfaceController</string>
	</dict>
	<dict>
		<key>itemName</key>
		<string>Table</string>
		<key>controllerName</key>
		<string>tableInterfaceController</string>
	</dict>
	<dict>
		<key>itemName</key>
		<string>Map</string>
		<key>controllerName</key>
		<string>mapInterfaceController</string>
	</dict>
	<dict>
		<key>itemName</key>
		<string>Image</string>
		<key>controllerName</key>
		<string>imageInterfaceController</string>
	</dict>
	<dict>
		<key>itemName</key>
		<string>Interface Object</string>
		<key>controllerName</key>
		<string>interfaceObjectController</string>
	</dict>
</array>
</plist>
